html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: grey;
}

#container {
  position: absolute;
  height: 75%;
  width: 100%;
  bottom: 26%;
}

#camera, #cam-view, #cam-in, #cam-out{
  /* filter: grey; */
  /* -webkit-filter: grayscale(1); */
  /* filter: grayscale(1); */
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* mirror image, useful when facingMode set to 'user' */
/* #cam-view, #cam-in, #cam-out{ */
  /* transform: scaleX(-1); */
  /* filter: FlipH; */
/* } */

#identify{
  width: 100px;
  background-color: black;
  color: white;
  font-size: 14px;
  border-radius: 20px;
  border-width: 2px;
  border-color: white;
  padding: 14px 7px;
  text-align: center;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  position: absolute;
  bottom: 7%;
  left: calc(28% - 50px);
}

#observe{
  width: 100px;
  background-color: black;
  color: white;
  font-size: 14px;
  border-radius: 20px;
  border-width: 2px;
  border-color: white;
  padding: 14px 7px;
  text-align: center;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  position: absolute;
  bottom: 7%;
  left: calc(72% - 50px);
} 

#sample-view, #sample-in {
  position: absolute;
  /* filter: grey!important; */
  /* -webkit-filter: grayscale(1)!important; */
  /* filter: grayscale(1)!important; */
  height: 28px!important;
  width: 28px!important;
  top: 45%;
  right: 30px;
  z-index: 3;
}

#sample-out {
  position: absolute;
  height: 28px;
  width: 28px;
  top: 55%;
  right: 30px;
  z-index:3;
}

#location{
  width: 100%;
  background-color: black;
  color: white;
  font-size: 12px;
  border: none;
  padding: 10px 5px;
  text-align: center;
  position: fixed;
  top: 0%;
  left: 0px;
}

#info-view{
  width: 100%;
  width: 100vw;
  background-color: black;
  height: 100%;
  color: white;
  font-size: 16px;
  padding: 0px 50px 5px 20px;
  text-align: left;
  position: fixed;
  bottom: 0px;
  z-index: 3;
  transition: height 300ms;
  overflow-x: hidden;
  overflow-y: auto;
  
  /* -webkit-transition: all 1000ms ease; */
	/* -moz-transition: all 1000ms ease; */
  /* -ms-transition: all 1000ms ease; */
  /* -o-transition: all 1000ms ease; */
	/* transition: all 1000ms ease; */
}

#info-view.small {
  height: 25%;
}

#data-categories {
  display: inline;
  list-style-type: none;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#data-categories li {
  display: inline;
  padding-right: 3px;
  padding-left: 3px;
  border-right: 1px solid white;
}

#data-categories li:first-child {
  border-left: 1px solid white;
}

#info-out {
  padding-right: 30px;
}

.info-header {
  width: 90%;
}

.info-header h3 {
  margin-top: 5px;
  margin-bottom: 8px;
  display: inline-block;
}

#display-toggle {
  display: inline-block;
  width: 0;
  height: 0;
  margin-top: 8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 0px;
  border-top: 20px solid white;
  float: right;
}

#display-toggle.up {
  border-bottom: 20px solid white;
  border-top: 0px;
}

.taken{
  height: 100px!important;
  width: 100px!important;
  transition: all 0.5s ease-in;
  border: solid 3px white;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  top: 15%;
  right: 4%;
  z-index: 2;
}

.form {
  display: block;
  width: 90%;
  margin-left: 2%;
}
.catTitle {
  display: block;
  width: 25%;
}
.catData {
  height: 70px;
  width: 97%;
  margin-left: 1%;
}


/* Work in progress below */

/* #sample-in { */
  /* position: absolute; */
  /* height: 28px!important; */
  /* width: 28px!important; */
  /* top: 160px; */
  /* right: 30px; */
  /* /* z-index: 2; */ 
/* } */

/* #info-view: hover { */
  /* bottom: 0px; */
  /* -webkit-transition: all 1000ms ease; */
	/* -moz-transition: all 1000ms ease; */
  /* -ms-transition: all 1000ms ease; */
  /* -o-transition: all 1000ms ease; */
  /* transition: all 1000ms ease; */
/* } */


