html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#camera, #cam-view, #cam-in, #cam-out{
  /* filter: grey; */
  /* -webkit-filter: grayscale(1); */
  /* filter: grayscale(1); */
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* mirror image, useful when facingMode set to 'user' */
/* #cam-view, #cam-in, #cam-out{ */
  /* transform: scaleX(-1); */
  /* filter: FlipH; */
/* } */

#identify{
  width: 100px;
  background-color: black;
  color: white;
  font-size: 14px;
  border-radius: 20px;
  border: none;
  padding: 14px 7px;
  text-align: center;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  position: fixed;
  bottom: 30px;
  left: calc(28% - 50px);
}
#observe{
  width: 100px;
  background-color: black;
  color: white;
  font-size: 14px;
  border-radius: 20px;
  border: none;
  padding: 14px 7px;
  text-align: center;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  position: fixed;
  bottom: 30px;
  left: calc(72% - 50px);
} 
#location{
  width: 100%;
  background-color: black;
  color: white;
  font-size: 12px;
  border: none;
  padding: 10px 5px;
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0px;
}
#sample-view, #sample-in, #sample-out{
  position: absolute;
  filter: grey;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  height: 28px!important;
  width: 28px!important;
  top: 160px;
  right: 30px;
  z-index: 2;
}

.taken{
  height: 100px!important;
  width: 100px!important;
  transition: all 0.5s ease-in;
  border: solid 3px white;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  top: 60px;
  right: 30px;
  z-index: 2;
}

/* Work in progress below */

/* #sample-in { */
  /* position: absolute; */
  /* height: 28px!important; */
  /* width: 28px!important; */
  /* top: 160px; */
  /* right: 30px; */
  /* /* z-index: 2; */ 
/* } */

/* #info-view { */
  /* width: 100% */
  /* height: 30%; */
  /* position: fixed; */
  /* bottom: 60px; */
  /* z-index: 10; */
  /* background: white; */
  /* -webkit-transition: all 1000ms ease; */
	/* -moz-transition: all 1000ms ease; */
  /* -ms-transition: all 1000ms ease; */
  /* -o-transition: all 1000ms ease; */
	/* transition: all 1000ms ease; */
/* } */
/* #info-view: hover { */
  /* bottom: 0px; */
  /* -webkit-transition: all 1000ms ease; */
	/* -moz-transition: all 1000ms ease; */
  /* -ms-transition: all 1000ms ease; */
  /* -o-transition: all 1000ms ease; */
  /* transition: all 1000ms ease; */
/* } */
/* #container { */
/* position:relative; */
/* width:900px; */
/* margin-left:auto; */
/* margin-right: auto; */
/* } */
/* #container ul { */
/* width:290px; */
/* float:left; */
/* color:FFF; */
/* } */

